# Database Configuration (MySQL)
DB_HOST="127.0.0.1"
DB_USER="your_database_user"
DB_NAME="your_database_name"
DB_PASSWORD="your_database_password"
DB_PORT="3306"
DB_DIALECT="mysql"

# Google Mail Configuration for sending emails
GMAIL_USER="your_gmail_address@gmail.com"
GMAIL_APP_PASSWORD="your_gmail_app_password"

# NextAuth.js Configuration
# On production, set this to your live domain (e.g., https://pustaklinu.com)
# On local development, set this to http://localhost:3000
NEXTAUTH_URL="http://localhost:3000"

# A secret key for signing tokens. Generate one using: openssl rand -base64 32
NEXTAUTH_SECRET="your_nextauth_secret"

# Node Environment
# Set to 'production' for live deployments
NODE_ENV="development"
